asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
bcrypt==3.1.4
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
cryptography==2.3
idna==2.7
more-itertools==4.3.0
paramiko==2.4.2
pluggy==0.7.1
py==1.5.4
pyasn1==0.4.4
pycparser==2.18
pydicom==1.1.0
PyNaCl==1.2.1
pytest==3.7.1
requests==2.21.0
six==1.11.0
urllib3==1.23
wincertstore==0.2
